---
import TextLink from "@components/TextLink.astro";
import { resolvePath } from "@lib/utils";

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  {small ? (
    <p>
      Data engineer and software developer from the SF Bay Area, specializing in ETL, data pipelines, business intelligence, and automation.  
      When I'm not coding, I'm probably <TextLink href="https://www.alltrails.com/members/chris-blazer-3">hiking</TextLink>, 
      snowboarding, or <TextLink href="https://www.peakbagger.com/climber/climber.aspx?cid=49012">chasing summits.</TextLink>
    </p>
  ) : (
    <p>
      I'm a data engineer and software developer from the SF Bay Area, specializing in ETL, data pipelines, business intelligence, and automation.  
      I love making sense of messy data, optimizing workflows, and building scalable systems that reduce manual effort.
      Whether it's designing efficient SQL queries, automating tedious processes, or architecting cloud-based solutions, I thrive on solving data challenges.
    </p>

    <p>
      I love the entire development lifecycle—building things, breaking them to test their limits, optimizing them for performance, and everything in between.  
      I'm weirdly passionate about naming conventions and standards like the 
      <TextLink href="https://en.wikipedia.org/wiki/ISO_8601">ISO date format</TextLink>.
    </p>

    <p>
      Outside of coding, I'm an avid <TextLink href="https://www.alltrails.com/members/chris-blazer-3">hiker,</TextLink>
      backpacker, snowboarder, and camper. More often than not, you'll find me <TextLink href="https://www.peakbagger.com/climber/climber.aspx?cid=49012">
      chasing summits</TextLink>
      —whether it's a weekend in the mountains or a multi-day backpacking trip. 
      Like most nerds, I also love <TextLink href="https://www.goodreads.com/user/show/3338371-c-blaze">reading,</TextLink> mostly fantasy and sci-fi.
    </p>

    <p>
      This site is a work in progress—part portfolio, part playground for experimenting with new ideas. It's MIT-licensed and 
      available on my <TextLink href="https://github.com/ccblazer44/cblazer.co">GitHub</TextLink>.
    </p>

    <p>Welcome and enjoy!</p>

  )}
</div>
